body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:960px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:22px;
  top:40px;
  width:80px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:105px;
  top:40px;
  width:255px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:105px;
  top:83px;
  width:120px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  position:absolute;
  left:248px;
  top:83px;
  width:60px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:643px;
  top:79px;
  width:73px;
  height:26px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:736px;
  top:79px;
  width:94px;
  height:26px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:22px;
  top:79px;
  width:70px;
  height:30px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:431px;
  top:43px;
  width:37px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:613px;
  top:43px;
  width:38px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:469px;
  top:40px;
  width:132px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  position:absolute;
  left:658px;
  top:40px;
  width:132px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:430px;
  top:83px;
  width:132px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:350px;
  top:86px;
  width:70px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:70px;
  top:854px;
  width:1010px;
  height:170px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:170px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:140px;
  width:1125px;
  height:188px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:84px;
  top:0px;
  width:184px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:268px;
  top:0px;
  width:168px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:33px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:164px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:436px;
  top:0px;
  width:185px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:621px;
  top:0px;
  width:128px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:749px;
  top:0px;
  width:123px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:872px;
  top:0px;
  width:125px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:997px;
  top:0px;
  width:123px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:33px;
  width:84px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:84px;
  top:33px;
  width:184px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:268px;
  top:33px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:436px;
  top:33px;
  width:185px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:621px;
  top:33px;
  width:128px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:749px;
  top:33px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:872px;
  top:33px;
  width:125px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:997px;
  top:33px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:63px;
  width:84px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:84px;
  top:63px;
  width:184px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:268px;
  top:63px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:436px;
  top:63px;
  width:185px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:621px;
  top:63px;
  width:128px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:749px;
  top:63px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:872px;
  top:63px;
  width:125px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:997px;
  top:63px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:93px;
  width:84px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:84px;
  top:93px;
  width:184px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:268px;
  top:93px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:436px;
  top:93px;
  width:185px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:181px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:621px;
  top:93px;
  width:128px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:749px;
  top:93px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:872px;
  top:93px;
  width:125px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:997px;
  top:93px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:123px;
  width:84px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:84px;
  top:123px;
  width:184px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:268px;
  top:123px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:436px;
  top:123px;
  width:185px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:181px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:621px;
  top:123px;
  width:128px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:749px;
  top:123px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:872px;
  top:123px;
  width:125px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:997px;
  top:123px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:153px;
  width:84px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:84px;
  top:153px;
  width:184px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:268px;
  top:153px;
  width:168px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:436px;
  top:153px;
  width:185px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:181px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:621px;
  top:153px;
  width:128px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:749px;
  top:153px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:872px;
  top:153px;
  width:125px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:997px;
  top:153px;
  width:123px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
